body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  @Media
}

.heading {
  font-size: 1.4em;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4px 20px 4px 20px;
  background-color: #0fb9b1
}

.select-meal {
  padding-left: 30px;
  position: absolute;
  top: 20%;
  left: 10%;
  background: rgba(225, 225, 225, .92);
  width: 400px;
  height: 300px;
  display: flex;
}

.recipe-add {
  cursor: pointer;
  font-size: 1em;
  width: 150px;
  height: 40px;
  border-radius: 6px;
  border-color: #0fb9b1;
}

.cook-pot {
  align-items: center;
  background-color: rgba(225, 225, 225, .9);
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  float: left;
  height: 300px;
  width: 400px;
  justify-content: center;
  position: fixed;
  right: 9%;
  top: 20%;
}


.img1 {
  width: 45%;
  height: 45%;
  opacity: 65%;
  margin: 15% 70% 0% 65%;
  padding: 5% 0% 2% 6%;
}

.clear {
  margin-left: 80%;
  margin-bottom: 12px;
  height: 30px;
  border-radius: 4px;\
  visibility: hidden;
}

.hidden {
  display: none;
}

.letscook {
  background-color: #0fb9b1;
  padding: 4px 30px;
  margin: 30px 2px;
}

@media only screen (mmin-width: 35em) {
  form {
    display: flex;
    flex-wrap: wrap;
  }
}

.image {
  width: 100%;
  height: 89.7%;
}

.meal {
  display: flex;
  justify-content: space-around;
}

.radio-button {
  width: 10px;
  display: 1%;
  justify-content: space-between;
}

/*
font-family: 'Roboto', sans-serif;
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
*/
